# 03-Variables

### Variable Assignments

In [1]:
#We use the assignment operator (=) to assign values to a variable

a = 10
b = 5.5
c = "ML"

#Multiple Assignments
a, b, c = 10, 5.5, "ML"

a = b = c = "AI" #assign the same value to multiple variables at once

### Storage Locations

In [2]:
x = 3
y = 3
print(id(x))               #print address of variable x
print(id(y))               #print address of variable y

1583972464
1583972464

In [3]:
y = 2
print(id(y))               #print address of variable y

1583972432

### Data Types

In [7]:
a = 5       #data type is implicitly set to integer
b = 2.5 
c = 1 + 2j  #data type is changed to complex number
d = True                          #a is a boolean type
print(a, " is of type", type(a))                           #data type is changed to float
print(b, " is of type", type(b))
print(c, " is complex number?") 
print(isinstance(1+2j, complex))
print(d, " is of type", type(d))

5  is of type <class 'int'>
2.5  is of type <class 'float'>
(1+2j)  is complex number?
True
True  is of type <class 'bool'>

In [9]:
s = "Welcome to Huazhong University of Science and Technology, Wuhan, China"
print(s)

Welcome to Huazhong University of Science and Technology, Wuhan, China

In [19]:
print("Length of string s : {}".format(len(s)))
print("Character at first memory location is {}".format(s[0]))
print("Character at last memory location is {}".format(s[69]))
print(s[-1])
print(s[len(s)-1])

Length of string s : 70
Character at first memory location is W
Character at last memory location is a
a
a

In [21]:
#slicing
print(s[5:])

me to Huazhong University of Science and Technology, Wuhan, China

### Python List

In [22]:
a = [10, 20.5, "Hello"]
print(a[1])               #print 1st index element

20.5

In [23]:
a[1] = 30.7
print(a)

[10, 30.7, 'Hello']

### Python Tuple

In [24]:
t = (1, 1.5, "ML")
print(t[1]) #extract particular element

1.5

In [25]:
t[1] = 1.25

TypeError: 'tuple' object does not support item assignment

### Python Set

In [27]:
a = {10, 30, 20, 40, 5}
print(a)
print(type(a))             #print type of a

{5, 40, 10, 20, 30}
<class 'set'>

In [29]:
#automatically set won't consider duplicate elements
s = {10, 20, 20, 30, 30, 30}
print(s)

{10, 20, 30}

In [32]:
print(s[1]) #we can't print particular element in set because 
            #it's unorder collections of items

TypeError: 'set' object does not support indexing

### Python Dictionary

In [31]:
d = {'a': "apple", 'b': "bat"}
print(d['a'])

apple

### Conversion between Datatypes

In [33]:
float(5)     #convert interger to float using float() method

5.0

In [34]:
int(100.5)   #convert float to integer using int() method

100

In [35]:
str(20)      #convert integer to string

'20'

In [36]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [37]:
user = "satish"
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code" )
#remove str and gives error

Congratulations, satish! You just wrote 100 lines of code

In [38]:
a = [1, 2, 3]

print(type(a))      #type of a is list 

s = set(a)          #convert list to set using set() method

print(type(s))      #now type of s is set

<class 'list'>
<class 'set'>

In [39]:
list("Hello")       #convert String to list using list() method

['H', 'e', 'l', 'l', 'o']